<html>
    <head>
      <title>Facial Expression Recognition</title>
    </head>
    <body align=center style="background-color:black;"> 

      <p style=font-size:20px;color:white;padding-top:20px;>
        Emotion Detection Webapp made using Flask and Tensorflow
      </p>

      <img style="border-radius: 20px;" id="bg" width=800px height=640px src="{{url_for('video_feed') }}">
      
    </body>
  </html> 